<section class="container">

    <div class="row justify-content-center">

    <div class="col-md-6">

<h1>CONTENIDO EXCLUSIVO PARA SOCIOS</h1>

<img src="https://media1.tenor.com/images/9190e0d5f2fb568957ff0a97f143611f/tenor.gif?itemid=3433814">
    
    </div>

    </div>

</section>